@model CbsStudents.Models.Entities.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <input type="hidden" asp-for="UserId" />
            @await Html.PartialAsync("_CreateEditPartial")
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.EventId">Back to Event</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
